/* Universal Styles */

html {
  font-size: 14px;
}

body {

}
/* Universal Styles */

h1 {
  font-size: 2.5rem
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.10rem;
}

h5 {

}

p {
  font-size: 1rem;
  font-weight:
}

a:active {
  color:
}

a:hover {
  color:
}

a:visited {
  color:
}


/* Header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 64px;
}

.logo {
  display: flex;
  flex-direction: row;
  height: 32px;
  align-items:center;
  width: 30%;
}

.logo img {
  height:auto;
  padding-left: ;

}

#colmar {
  font-weight: bold;
  text-transform: uppercase;
}

#academy {
  font-weight: lighter;
  text-transform: uppercase;
}

.logo h2 {


}

nav {
  padding-right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
}

nav a {
  padding-right: 16px;
  padding-left: 16px;
  color:
}

/* Main Banner */

.banner {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: LightGray;
  width: 100%
}

.banner .img-container {
  width: 60%;
  padding: 32px 24px;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner .text-container {
  display: flex;
  justify-content: flex-start;
  width: 40%;
}

.banner .text {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.banner .text h1 {
  padding-bottom: 32px;
}

.banner .text h3 {
  padding-bottom: 32px;
}

.banner .btn {
  display: flex;
  justify-content: center;
  background-color: gray;
  text-align: center;
  width: 55%;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Information Section */
.info-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 32px 24px;
}

.leading-story {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 60%;
  padding-right: 24px;
}

.leading-story img {
  width: 100%;
  height: auto;
}

.leading-story .text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.leading-story .text h2 {
  padding-top: 32px;
  padding-bottom: 24px;
}

.leading-story .text p {

}

.leading-story .text h6 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.list-info-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 16px;
  border-left: .5px solid grey;
}

.list-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-bottom:16px;
  width: 100%;
}

.list-container .guest-lecture {
  padding-top: 16px;
}

.list-container .img-container {
  width: 35%;
}

.list-container img {
  width: 100%;
  height: 100%;
}

.list-container .text {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 65%;
  padding-left: 20px;
}

.list-container .text h3 {
  padding-bottom: 8px;
}

.text a {
  padding-top: 8px;
}


/* Courses */
.course-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  background-color: salmon;
}

.course-container .text-banner {
  display: flex;
  justify-content: center;
  padding: 32px;
  font-size: 2rem;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  width: 80%;
  padding-left: 72px;
  padding-right: 72px;

}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  width: 80%;
  padding-left: 72px;
  padding-right: 72px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.course {
  display: flex;
  flex-direction: column;
  border: 1px solid purple;
  margin-right: 32px;
}

.course .img-container {
  width: 100%;
}

.course img {
  width: 100%;
  height: 100%;
}

.course .text {
  padding-left: 16px;
  padding-bottom: 24px;
}

.course .text h3 {
  padding-top: 16px;
}

.course .text h4 {
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
}

/* Thesis */

.thesis-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 32px 24px;
}

.thesis-leading-story {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 60%
}

video {
  width:100%
}

.thesis-leading-story .text {
  padding-top: 24px;
}

.thesis-leading-story p {
  padding-top: 8px;
}

.list-thesis-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 16px;
}

.list-thesis {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-bottom:16px;
  width: 100%;
}

.list-thesis .img-container {
  width: 35%
}

.list-thesis img {
  width: 100%;
  height:auto;
}

.list-thesis .text {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 65%;
  padding-left: 20px;
}

.list-thesis .text p {
  padding-top: 16px;
}

/* Footer */

footer {
  display: flex;
  flex-direction: row;
  border: 1px solid LightGray;
  padding-top: 16px;
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}

.copyright {
  width: 30%;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  padding-right: 24px;
}

.footer-links a {
  display: flex;
  padding-left: 16px;
}
